{% extends folderEstrutura~'backend-base.html.twig' %}

{% block body %}

    <div id="main-container">
        <div id="breadcrumb">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('principal') }}">Home</a>
                </li>
                <li>Administrar Usuário</li>
                <li class="active">Alterar</li>
            </ul>
        </div><!--breadcrumb-->

        <div class="padding-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="overview">
                            <div class="row">

                                <!-- COLUNA COM O FORM -->
                                <div class="col-md-12">

                                    (<span class="asterisco">*</span>) Campos de preenchimento obrigatório <br /> <br />

                                    <form action="#" method="post" name="usuarioForm" id="usuarioForm" class="form-horizontal" role="form">
                                        <input type="hidden" name="idEdit" id="idEdit" value="{{ usuario.id }}" />
                                        <input type="hidden" name="actionForm" id="actionForm" value="../edit" />

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="status"><span class="asterisco">*</span> Status </label>
                                            <div class="col-sm-4">
                                                <select name="status" id="status" class="form-control">

                                                    {% for status in listaStatus %}

                                                        {% if status.id == usuario.status.id %}
                                                            {% set selected = 'selected="selected"' %}
                                                        {% else %}
                                                            {% set selected = '' %}
                                                        {% endif %}

                                                        <option value="{{ status.id }}" {{ selected }}>{{ status.nome }}</option>
                                                    {% endfor %}


                                                </select>
                                            </div>
                                        </div>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="nome"><span class="asterisco">*</span> Perfil </label>
                                            <div class="col-sm-4">
                                                <select name="permissoes" id="permissoes" class="form-control">
                                                    {% for permissoes in listaPermissoes %}

                                                        {% if permissoes.id == usuario.permissoes.id %}
                                                            {% set selected = 'selected="selected"' %}
                                                        {% else %}
                                                            {% set selected = '' %}
                                                        {% endif %}

                                                        <option value="{{ permissoes.id }}" {{ selected }}>{{ permissoes.nome }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="nome"><span class="asterisco">*</span> Nome </label>

                                            <div class="col-sm-4">
                                                <input name="nome" type="text" id="nome" value="{{ usuario.nome }}" class="form-control" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="cpf"><span class="asterisco">*</span> CPF </label>

                                            <div class="col-sm-4">
                                                <input name="cpf" readonly="readonly" disabled="disabled" type="text" id="cpf" value="{{ usuario.cpf }}" class="form-control maskCpf" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="email"><span class="asterisco">*</span> Email </label>

                                            <div class="col-sm-4">
                                                <input name="email" type="text" id="email" value="{{ usuario.email }}" class="form-control" maxlength="255" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="login"><span class="asterisco">*</span> Login </label>

                                            <div class="col-sm-4">
                                                <input name="login" type="text" id="login" value="{{ usuario.username }}" class="form-control" maxlength="100" />
                                            </div>
                                        </div>

                                        <div class="clearfix form-actions">
                                            <div class="col-md-offset-4 col-md-6">

                                                <a href="#" onclick="goBack();" class="btn btn-info" >
                                                    <i class="fa fa-reply bigger-110"></i>
                                                    Voltar
                                                </a>
                                                &nbsp;
                                                <button name="btnCadastrar" id="btnCadastrar" class="btn btn-success" type="submit">
                                                    <i class="fa fa-check bigger-110"></i>
                                                    Alterar
                                                </button>

                                            </div>
                                        </div>
                                    </form>

                                </div><!-- /.col -->
                                <!-- FIM DA COLUNA COM O FORM -->


                            </div><!-- /.row -->
                        </div><!-- /tab1 -->

                    </div><!-- /tab-content -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.padding-md -->
    </div><!-- /main-container -->



{% endblock %}
